<link rel="stylesheet" href="/css/user-editor.css" />

<script src="/cm/lib/codemirror.js"></script>
<link rel="stylesheet" href="/cm/lib/codemirror.css" />
<!-- adding languages -->
<script src="/cm/mode/javascript/javascript.js"></script>
<script src="/cm/mode/cmake/cmake.js"></script>
<script src="/cm/mode/apl/apl.js"></script>
<script src="/cm/mode/asciiarmor/asciiarmor.js"></script>
<script src="/cm/mode/asn.1/asn.1.js"></script>
<script src="/cm/mode/asterisk/asterisk.js"></script>
<script src="/cm/mode/brainfuck/brainfuck.js"></script>
<script src="/cm/mode/clike/clike.js"></script>
<script src="/cm/mode/clojure/clojure.js"></script>
<script src="/cm/mode/cmake/cmake.js"></script>
<script src="/cm/mode/cobol/cobol.js"></script>
<script src="/cm/mode/coffeescript/coffeescript.js"></script>
<script src="/cm/mode/commonlisp/commonlisp.js"></script>
<script src="/cm/mode/crystal/crystal.js"></script>
<script src="/cm/mode/css/css.js"></script>
<script src="/cm/mode/cypher/cypher.js"></script>
<script src="/cm/mode/d/d.js"></script>
<script src="/cm/mode/dart/dart.js"></script>
<script src="/cm/mode/diff/diff.js"></script>
<script src="/cm/mode/django/django.js"></script>
<script src="/cm/mode/dockerfile/dockerfile.js"></script>
<script src="/cm/mode/dtd/dtd.js"></script>
<script src="/cm/mode/dylan/dylan.js"></script>
<script src="/cm/mode/ebnf/ebnf.js"></script>
<script src="/cm/mode/ecl/ecl.js"></script>
<script src="/cm/mode/eiffel/eiffel.js"></script>
<script src="/cm/mode/elm/elm.js"></script>
<script src="/cm/mode/erlang/erlang.js"></script>
<script src="/cm/mode/factor/factor.js"></script>
<script src="/cm/mode/fcl/fcl.js"></script>
<script src="/cm/mode/forth/forth.js"></script>
<script src="/cm/mode/fortran/fortran.js"></script>
<script src="/cm/mode/gas/gas.js"></script>
<script src="/cm/mode/gfm/gfm.js"></script>
<script src="/cm/mode/gherkin/gherkin.js"></script>
<script src="/cm/mode/go/go.js"></script>
<script src="/cm/mode/groovy/groovy.js"></script>
<script src="/cm/mode/haml/haml.js"></script>
<script src="/cm/mode/handlebars/handlebars.js"></script>
<script src="/cm/mode/haskell-literate/haskell-literate.js"></script>
<script src="/cm/mode/haskell/haskell.js"></script>
<script src="/cm/mode/haxe/haxe.js"></script>
<script src="/cm/mode/htmlembedded/htmlembedded.js"></script>
<script src="/cm/mode/htmlmixed/htmlmixed.js"></script>
<script src="/cm/mode/http/http.js"></script>
<script src="/cm/mode/idl/idl.js"></script>
<script src="/cm/mode/javascript/javascript.js"></script>
<script src="/cm/mode/jinja2/jinja2.js"></script>
<script src="/cm/mode/jsx/jsx.js"></script>
<script src="/cm/mode/julia/julia.js"></script>
<script src="/cm/mode/livescript/livescript.js"></script>
<script src="/cm/mode/lua/lua.js"></script>
<script src="/cm/mode/markdown/markdown.js"></script>
<script src="/cm/mode/mathematica/mathematica.js"></script>
<script src="/cm/mode/mbox/mbox.js"></script>
<script src="/cm/mode/mirc/mirc.js"></script>
<script src="/cm/mode/mllike/mllike.js"></script>
<script src="/cm/mode/modelica/modelica.js"></script>
<script src="/cm/mode/modelica/modelica.js"></script>
<script src="/cm/mode/mscgen/mscgen.js"></script>
<script src="/cm/mode/mumps/mumps.js"></script>
<script src="/cm/mode/nginx/nginx.js"></script>
<script src="/cm/mode/nsis/nsis.js"></script>
<script src="/cm/mode/ntriples/ntriples.js"></script>
<script src="/cm/mode/octave/octave.js"></script>
<script src="/cm/mode/oz/oz.js"></script>
<script src="/cm/mode/pascal/pascal.js"></script>
<script src="/cm/mode/pegjs/pegjs.js"></script>
<script src="/cm/mode/perl/perl.js"></script>
<script src="/cm/mode/php/php.js"></script>
<script src="/cm/mode/pig/pig.js"></script>
<script src="/cm/mode/powershell/powershell.js"></script>
<script src="/cm/mode/properties/properties.js"></script>
<script src="/cm/mode/protobuf/protobuf.js"></script>
<script src="/cm/mode/pug/pug.js"></script>
<script src="/cm/mode/puppet/puppet.js"></script>
<script src="/cm/mode/python/python.js"></script>
<script src="/cm/mode/q/q.js"></script>
<script src="/cm/mode/r/r.js"></script>
<script src="/cm/mode/rpm/rpm.js"></script>
<script src="/cm/mode/rst/rst.js"></script>
<script src="/cm/mode/ruby/ruby.js"></script>
<script src="/cm/mode/rust/rust.js"></script>
<script src="/cm/mode/sas/sas.js"></script>
<script src="/cm/mode/sass/sass.js"></script>
<script src="/cm/mode/scheme/scheme.js"></script>
<script src="/cm/mode/shell/shell.js"></script>
<script src="/cm/mode/sieve/sieve.js"></script>
<script src="/cm/mode/slim/slim.js"></script>
<script src="/cm/mode/smalltalk/smalltalk.js"></script>
<script src="/cm/mode/smarty/smarty.js"></script>
<script src="/cm/mode/solr/solr.js"></script>
<script src="/cm/mode/soy/soy.js"></script>
<script src="/cm/mode/sparql/sparql.js"></script>
<script src="/cm/mode/spreadsheet/spreadsheet.js"></script>
<script src="/cm/mode/sql/sql.js"></script>
<script src="/cm/mode/stex/stex.js"></script>
<script src="/cm/mode/stylus/stylus.js"></script>
<script src="/cm/mode/swift/swift.js"></script>
<script src="/cm/mode/tcl/tcl.js"></script>
<script src="/cm/mode/textile/textile.js"></script>
<script src="/cm/mode/tiddlywiki/tiddlywiki.js"></script>
<script src="/cm/mode/tiki/tiki.js"></script>
<script src="/cm/mode/toml/toml.js"></script>
<script src="/cm/mode/tornado/tornado.js"></script>
<script src="/cm/mode/troff/troff.js"></script>
<script src="/cm/mode/ttcn-cfg/ttcn-cfg.js"></script>
<script src="/cm/mode/ttcn/ttcn.js"></script>
<script src="/cm/mode/turtle/turtle.js"></script>
<script src="/cm/mode/twig/twig.js"></script>
<script src="/cm/mode/vb/vb.js"></script>
<script src="/cm/mode/vbscript/vbscript.js"></script>
<script src="/cm/mode/verilog/verilog.js"></script>
<script src="/cm/mode/velocity/velocity.js"></script>
<script src="/cm/mode/vhdl/vhdl.js"></script>
<script src="/cm/mode/vue/vue.js"></script>
<script src="/cm/mode/wast/wast.js"></script>
<script src="/cm/mode/webidl/webidl.js"></script>
<script src="/cm/mode/xml/xml.js"></script>
<script src="/cm/mode/xquery/xquery.js"></script>
<script src="/cm/mode/yacas/yacas.js"></script>
<script src="/cm/mode/yaml-frontmatter/yaml-frontmatter.js"></script>
<script src="/cm/mode/yaml/yaml.js"></script>
<script src="/cm/mode/z80/z80.js"></script>

<!-- adding edit section of code mirror -->
<script src="/cm/addon/edit/closetag.js"></script>
<script src="/cm/addon/edit/closebrackets.js"></script>
<script src="/cm/addon/edit/continuelist.js"></script>
<script src="/cm/addon/edit/matchbrackets.js"></script>
<script src="/cm/addon/edit/matchtags.js"></script>
<script src="/cm/addon/edit/trailingspace.js"></script>

<!-- adding themes for theme section -->
<link rel="stylesheet" href="/cm/theme/dracula.css" />
<link rel="stylesheet" href="/cm/theme/3024-day.css" />
<link rel="stylesheet" href="/cm/theme/3024-night.css" />
<link rel="stylesheet" href="/cm/theme/abcdef.css" />
<link rel="stylesheet" href="/cm/theme/ambiance-mobile.css" />
<link rel="stylesheet" href="/cm/theme/ambiance.css" />
<link rel="stylesheet" href="/cm/theme/ayu-dark.css" />
<link rel="stylesheet" href="/cm/theme/ayu-mirage.css" />
<link rel="stylesheet" href="/cm/theme/base16-dark.css" />
<link rel="stylesheet" href="/cm/theme/base16-light.css" />
<link rel="stylesheet" href="/cm/theme/bespin.css" />
<link rel="stylesheet" href="/cm/theme/blackboard.css" />
<link rel="stylesheet" href="/cm/theme/cobalt.css" />
<link rel="stylesheet" href="/cm/theme/colorforth.css" />
<link rel="stylesheet" href="/cm/theme/darcula.css" />
<link rel="stylesheet" href="/cm/theme/dracula.css" />
<link rel="stylesheet" href="/cm/theme/duotone-dark.css" />
<link rel="stylesheet" href="/cm/theme/duotone-light.css" />
<link rel="stylesheet" href="/cm/theme/eclipse.css" />
<link rel="stylesheet" href="/cm/theme/elegant.css" />
<link rel="stylesheet" href="/cm/theme/erlang-dark.css" />
<link rel="stylesheet" href="/cm/theme/gruvbox-dark.css" />
<link rel="stylesheet" href="/cm/theme/hopscotch.css" />
<link rel="stylesheet" href="/cm/theme/icecoder.css" />
<link rel="stylesheet" href="/cm/theme/idea.css" />
<link rel="stylesheet" href="/cm/theme/isotope.css" />
<link rel="stylesheet" href="/cm/theme/lesser-dark.css" />
<link rel="stylesheet" href="/cm/theme/liquibyte.css" />
<link rel="stylesheet" href="/cm/theme/lucario.css" />
<link rel="stylesheet" href="/cm/theme/material-darker.css" />
<link rel="stylesheet" href="/cm/theme/material-ocean.css" />
<link rel="stylesheet" href="/cm/theme/material-palenight.css" />
<link rel="stylesheet" href="/cm/theme/material.css" />
<link rel="stylesheet" href="/cm/theme/mbo.css" />
<link rel="stylesheet" href="/cm/theme/mdn-like.css" />
<link rel="stylesheet" href="/cm/theme/midnight.css" />
<link rel="stylesheet" href="/cm/theme/monokai.css" />
<link rel="stylesheet" href="/cm/theme/moxer.css" />
<link rel="stylesheet" href="/cm/theme/neat.css" />
<link rel="stylesheet" href="/cm/theme/neo.css" />
<link rel="stylesheet" href="/cm/theme/night.css" />
<link rel="stylesheet" href="/cm/theme/nord.css" />
<link rel="stylesheet" href="/cm/theme/oceanic-next.css" />
<link rel="stylesheet" href="/cm/theme/panda-syntax.css" />
<link rel="stylesheet" href="/cm/theme/paraiso-dark.css" />
<link rel="stylesheet" href="/cm/theme/paraiso-light.css" />
<link rel="stylesheet" href="/cm/theme/pastel-on-dark.css" />
<link rel="stylesheet" href="/cm/theme/railscasts.css" />
<link rel="stylesheet" href="/cm/theme/rubyblue.css" />
<link rel="stylesheet" href="/cm/theme/seti.css" />
<link rel="stylesheet" href="/cm/theme/shadowfox.css" />
<link rel="stylesheet" href="/cm/theme/solarized.css" />
<link rel="stylesheet" href="/cm/theme/ssms.css" />
<link rel="stylesheet" href="/cm/theme/the-matrix.css" />
<link rel="stylesheet" href="/cm/theme/tomorrow-night-bright.css" />
<link rel="stylesheet" href="/cm/theme/tomorrow-night-eighties.css" />
<link rel="stylesheet" href="/cm/theme/ttcn.css" />
<link rel="stylesheet" href="/cm/theme/twilight.css" />
<link rel="stylesheet" href="/cm/theme/vibrant-ink.css" />
<link rel="stylesheet" href="/cm/theme/xq-dark.css" />
<link rel="stylesheet" href="/cm/theme/xq-light.css" />
<link rel="stylesheet" href="/cm/theme/yeti.css" />
<link rel="stylesheet" href="/cm/theme/yonce.css" />
<link rel="stylesheet" href="/cm/theme/zenburn.css" />

<div class="editor-container">
  <div class="editor-main">
    <div
      class="room-container"
      style="display: flex; flex-direction: row; height: 20px"
    >
      <p>Room id-></p>
      <div id="rooom"><%= roomId %></div>
      <button
        onclick="copyToClipboard('#rooom')"
        style="margin-bottom: 0; padding: 0"
      >
        <p style="margin-bottom: 0; padding: 0">Copy</p>
      </button>
    </div>
  </div>
</div>
