.editor-container {
    margin-top: 2%;
    background: #191919;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;
    background-size: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-main {
    background: #3d3d3e;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.95;
    position: relative;
    top: 4%;

}

.room-container {
    margin: auto;
    color: #ffffff;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-grid {
    background-color: #222222;
    /* opacity: 0.3; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25vh);
    grid-auto-rows: 25vh;
    column-gap: 25px;
    row-gap: 25px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: palegreen solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(248, 248, 248);

}

.room-container button {
    padding: 0;
    margin-bottom: 0;
}

.utility-container {
    display: flex;
    flex-flow: row;
    align-content: space-between;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}

.left {
    display: flex;
    align-content: flex-start;
}

.btn {
    background: #3d3d3e;
    color: #ffffff;
    border: none;
}

.btn:hover {
    background: #3d3d3e;
    color: #ffffff;
    border: none;
}

#download {
    background: #3d3d3e;
    border: none;
}

#fileInput {
    background: #3d3d3e;
    border: none;
}

#cpy {
    background: #3d3d3e;
    border: none;
}

#clr {
    background: #3d3d3e;
    border: none;
}

.right {
    margin-top: 2px;
}

#selectLang {
    border-radius: 5px;
    height: 30px;
    width: auto;
}

#selectTheme {
    border-radius: 5px;
    height: 30px;
    width: auto;
}

.audio {

    margin-left: auto;
    margin-right: 0;
}

#play-button {
    background: #3d3d3e;
    border: none;
}

#pause-button {
    background: #3d3d3e;
    border: none;
}

#stop-button {
    background: #3d3d3e;
    border: none;
}

i {
    color: #ffffff;
}

i:hover {
    color: #bdbdbd;
}
